{$WEBWOVEN_SITE_ADDRESS:http://localhost} {
	encode zstd gzip

	@docsRoot path /docs
	redir @docsRoot /docs/

	handle_path /docs/* {
		root * /srv/docs
		try_files {path} {path}/ /index.html
		file_server
	}

	handle /api/* {
		reverse_proxy api:8000
	}

	handle /health/* {
		reverse_proxy api:8000
	}

	handle {
		root * /srv/web
		try_files {path} /index.html
		file_server
	}

	header {
		X-Content-Type-Options nosniff
		Referrer-Policy strict-origin-when-cross-origin
		Permissions-Policy "camera=(), microphone=(), geolocation=()"
		X-Frame-Options DENY
		-Server
	}
}

{$WEBWOVEN_REDIRECT_ADDRESS:http://redirect.invalid} {
	redir {$WEBWOVEN_SITE_ADDRESS:http://localhost}{uri} permanent
}

{$WEBWOVEN_ANALYTICS_ADDRESS:http://analytics.invalid} {
	encode zstd gzip

	@robots path /robots.txt
	respond @robots <<ROBOTS
		User-agent: *
		Disallow: /
		ROBOTS 200

	reverse_proxy analytics:3000

	header {
		X-Content-Type-Options nosniff
		Referrer-Policy no-referrer
		Permissions-Policy "camera=(), microphone=(), geolocation=()"
		X-Frame-Options DENY
		-Server
	}
}
